<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>

	<springProfile name="dev">
		<include resource="org/springframework/boot/logging/logback/base.xml" />
	</springProfile>

	<springProfile name="produce">
		<include resource="org/springframework/boot/logging/logback/defaults.xml" />
		<include resource="org/springframework/boot/logging/logback/file-appender.xml" />

		<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
			<encoder>
				<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n
				</Pattern>
			</encoder>
		</appender>

		<appender name="dailyRollingFileAppender"
			class="ch.qos.logback.core.rolling.RollingFileAppender">
			<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<!-- daily rollover -->
				<FileNamePattern>${LOG_PATH}myLog.%d{yyyy-MM-dd}.log</FileNamePattern>
				<!-- keep 30 days' worth of history -->
				<maxHistory>30</maxHistory>
			</rollingPolicy>
			<encoder>
				<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n
				</Pattern>
			</encoder>
		</appender>

		<root level="INFO">
			<appender-ref ref="dailyRollingFileAppender" />
			<appender-ref ref="console" />
		</root>
	</springProfile>
</configuration>
